/* estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

header {
  background-color: #35424a;
  color: #fff;
  padding: 1 rem 0;
  text-align: center;
}

header h1 {
  margin-bottom: 1rem;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: .5rem 1rem;
  border-radius: 5px;
  transform: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #e8491d;
}

.destaque {
  text-align: center;
  padding: 2rem;
  background-color: beige;
  border-radius: 5px;
  margin-bottom: 2rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #35424a;
  color: white;
}